.navbar {
  background-color: $navy;
  width: 25%;
  height: 100%;
  position: fixed;
  padding-top: 5%;
  .navbar-brand {
    font-family: $logoFont;
    font-size: 13px;
    letter-spacing: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    h1 {
      margin: 0;
      .greyLetter {
        color: $grey;
      }
      .peachLetter {
        color: $peach;
      }
      .tealLetter {
        color: $teal;
      }
      .navyLetter {
        color: $navy;
      }
      .orangeLetter {
        color: $orange;
      }
    }
  }
  .navbar-online-clients {
    padding-top: 10rem;
    text-align: center;
    .clients-title {
      font-family: $secondaryFont;
      letter-spacing: 2px;
      color: white;
    }

    .navbar-client-icons {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      .icon {
        width: 40%;
        &:hover .icon-name {
          visibility: visible;
        }
        .icon-name {
          visibility: hidden;
          color: white;
          text-align: center;
          font-size: 9px;
          padding: 0;
          border-radius: 5px;
          font-family: $secondaryFont;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 0;
        }
        .fa-user {
          margin: 0.5rem;
        }
        .peachIcon {
          color: $peach;
        }
        .tealIcon {
          color: $teal;
        }
        .greyIcon {
          color: $grey;
        }
        .orangeIcon {
          color: $orange;
        }
      }

    }

  }
}